<section class="festival-container">
    <h1 class="titolFestival">grito</h1>
    <h1 class="titolRaves">grito</h1>
    <p class="parrafFestival">
        El festival GRITO de Girona el 2025 serà un bombazo, amb una mescla de temàtiques i gèneres que farà que tothom es quedin enganxats. Serà el lloc per a tots els amants del hardcore, tecno, rap i trap. Els millors artistes del moment, tant locals com internacionals, es trobaran allà per fer-te moure i passar-ho de conya. Girona, amb el seu ambient guapo i la seva cultura vibrant, serà l’escenari perfecte per aquest festival que promet estar a l’alçada.
    </p>
</section>